BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 100
Standard: c++14
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
AccessModifierOffset: -4
FixNamespaceComments: false
Cpp11BracedListStyle: false
AlignOperands: DontAlign
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
AlwaysBreakTemplateDeclarations: Yes
